body {
    margin: 0;
    padding: 0;
}

.navbar{
    width:200px;
    background-color: #9cd5d6;
    padding: 1px 0px;
    height: 100vh;
}

.navbar a{
    display:block;
    padding:13px 20px;
    font-size:larger;
    text-decoration: none;
}

.navbar a:hover {
    background-color: orange;
    color: #ffffff;
}

